<div class="layout_header d-flex align-items-center p-3 row">
	<div class="col-sm-1">
		<p class="font-weight-bold text-white m-0">Pathfinding Visualizer</p>
	</div>
	<div class="col-sm-1">
		<div class="dropdown">
			<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownAlgo"
				data-bs-toggle="dropdown" aria-expanded="false">
				{{configs.algorithmTitle}}
			</a>

			<ul class="dropdown-menu" aria-labelledby="dropdownAlgo">
				<li *ngFor="let algo of env.button.algorithms"
					[ngClass]="{'selected': configs.algorithmTitle === algo.name}"
					(click)="configs.algorithmTitle = algo.name"><a class="dropdown-item text-center"
						href="#">{{algo.name}}</a></li>
			</ul>
		</div>
	</div>
	<div class="col-sm-1"></div>
	<div class="col-sm-1"></div>
	<div class="col-sm-1"></div>
	<div class="col-sm-2 justify-content-center ps-5 pe-5">
		<button class="btn btn-lg d-flex align-items-center justify-content-center w-100"
			[ngClass]="{'btn-start': status === 'start', 'btn-reset': status === 'done'}"
			(click)="handleButtonAction()">
			<span *ngIf="status === 'start'">Excute</span>
			<i *ngIf="status === 'start'" class="ms-2 fa fa-solid fa-play f-15"></i>
			<span *ngIf="status === 'finding'" class="text-white">Finding</span>
			<app-loading *ngIf="status === 'finding'" class="loading ms-2"></app-loading>
			<span *ngIf="status === 'done'">Reset</span>
			<i *ngIf="status === 'done'" class="ms-2 fa fa-solid fa-rotate-left f-15"></i>
		</button>
	</div>
	<div class="col-sm-1"></div>
	<div class="col-sm-1"></div>
	<div class="col-sm-1"></div>
	<div class="col-sm-1">
		<div class="dropdown">
			<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownSpeed"
				data-bs-toggle="dropdown" aria-expanded="false">
				{{configs.speedTitle}}
			</a>

			<ul class="dropdown-menu" aria-labelledby="dropdownSpeed">
				<li *ngFor="let speed of env.button.speeds" 
					[ngClass]="{'selected': configs.speedTitle === speed.name}"
					(click)="configs.speedTitle = speed.name; speedSelected = speed.name; handleButtonSpeed()">
					<a class="dropdown-item text-center" href="#">{{speed.name}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-1 d-flex justify-content-center">
		<i class="fa fa-solid fa-bars text-white f-20 menu" data-bs-toggle="tooltip" data-bs-placement="top"
			title="Settings">
		</i>
	</div>
</div>
<div class="layout_setting row d-flex align-items-center mt-5">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="taskbar-note p-3 d-flex justify-content-between">
			<div [appAcheronTooltip]="tooltipTemplate1" (click)="handleButtonConfig(1)">
				<div class="task-element d-flex justify-content-center align-items-center">
					<i class="fa fa-solid fa-map-pin f-18"></i>
				</div>
				<ng-template #tooltipTemplate1>
					<app-custom-tooltip 
						[title]="env.button.configButton.startPoint.title"
						[content]="env.button.configButton.startPoint.content"
						[footer]="env.button.configButton.startPoint.footer"
						[type]="1"
					>
					</app-custom-tooltip>
				</ng-template>
			</div>
			<div [appAcheronTooltip]="tooltipTemplate2" (click)="handleButtonConfig(2)">
				<div class="task-element d-flex justify-content-center align-items-center">
					<i class="fa fa-solid fa-bullseye f-18"></i>
				</div>
				<ng-template #tooltipTemplate2>
					<app-custom-tooltip 
						[title]="env.button.configButton.finishPoint.title"
						[content]="env.button.configButton.finishPoint.content"
						[footer]="env.button.configButton.finishPoint.footer"
						[type]="2"
					>
					</app-custom-tooltip>
				</ng-template>
			</div>
			<div [appAcheronTooltip]="tooltipTemplate3" (click)="handleButtonConfig(3)">
				<div class="task-element d-flex justify-content-center align-items-center">
					<i class="fa fa-solid fa-bomb f-18"></i>
				</div>
				<ng-template #tooltipTemplate3>
					<app-custom-tooltip 
						[title]="env.button.configButton.bomb.title"
						[content]="env.button.configButton.bomb.content"
						[footer]="env.button.configButton.bomb.footer"
						[type]="3"
					>
					</app-custom-tooltip>
				</ng-template>
			</div>
		</div>
	</div>
	<div class="col-sm-3"></div>
</div>
<notifier-container></notifier-container>